@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Roboto:wght@700&display=swap');

:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-lato: 'Lato', sans-serif;
}

body {
    background: #ecf4fe;
}

/* nav */

.navbar {
    font-family: var(--font-montserrat);
    font-weight:bold;
    color: #051a40;
    font-size: 0.9rem;

}
.navbar-brand {
    color: initial;
    font-weight: bolder;
    font-family: var(--font-roboto);
}

.navbar-brand i {
    background: #348aff;
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: #ffffff;
}

.navbar .collapse .navbar-nav {
    display: flex;
    justify-content: space-around;
}

.navbar .collapse .navbar-nav a{
    color: initial;
}

.btn {
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.8em;
}

.btn .rigister {
    padding: 0.6rem 0 0.6rem 0;
    width: 70px !important;
}

.btn .login {
    color: initial;
}

/* header-text */

.header-text {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.header-text h1 {
    font-size: 5rem;
    font-weight: bold;
    font-family: var(--font-roboto);
    color: #051a40;
}

.header-text h5 {
    color: #348aff;
    background: #ffffff;
    display: inline-block;
    padding: 0.4rem;
}

.header-text .header-text-right p {
    padding: 1rem 0 1rem 0;
    color: #6882a5;
    font-family: var(--font-lato);
}

.header-text .header-text-right .btn {
    padding: 1rem 2rem 1rem 2rem;
    font-family: var(--font-montserrat);
}


/* header video */

.header-video .video {
    border-radius: 4%;
}

.header-video .video-number {
    margin-top: 2.5rem;
}
.header-video .video-number h2 {
    font-size: 2.5rem;
    font-weight: 650;
    text-align: center;
    color: #348aff;
}

.header-video .video-number p {
    color: #6882a5;
    text-align: center;
}

/* feature course */

   .feature-course-head {
       margin: 6rem 0 5rem 0;
   }
   
   .feature-course-head h1 {
       text-align: center;
       margin-bottom: 1rem;
       font-weight: bold;
   }

   .feature-course-head p {
       text-align: center;
       margin: 0 15rem 0 15rem;
       color:  #6882a5;
   }

   /* card */

   .feature-course .card {
       margin-bottom: 2rem;
       padding: 0;
       border-radius: 1rem;
   }

   .feature-course .card img {
       padding: 0.5rem;
   }

   .feature-course .card .card-body .btn {
       font-weight: lighter;
   }

   .feature-course .card .card-body .money {
       text-align: right;
       color: #4a97ff;
   }

   .feature-course .card .card-body .card-title-under {
       color: #6882a5;
   }

   .feature-course .card .card-body .card-title-under .under-left {
    text-align: right !important;
    }

    .feature-course .card .card-body .card-rating {
        margin-top: 1rem;
        padding: 0;
    }
    
    .feature-course .card .card-body .card-rating .rate {
        margin-right: 5rem;
    }

    .feature-course .card .card-body .card-rating .fa-long-arrow-right {
        font-size: 1.5rem;
        background: #ecf4fe;
        padding: 1rem;
        border-radius: 2rem;
    }